################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/gladius/obj/Debug
/gladius/bin
/packages
/Repository/bin/Debug
/Repository/obj/Debug
