<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gladius</title>   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" type="text/css" />         
    <link href="~/Content/dialog.css" rel="stylesheet" />    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>       
</head>
<body>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>          
    <script src="~/scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/assets/Old.png" width="30" height="30" /> <label class="text-white">Old Mutual</label>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Complaint<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RCA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quality Assurance</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
            </ul>
            <form class="form-inline">
                <label id="userTitle" class="btn btn-outline-success my-2 my-sm-0" type="submit"></label>
            </form>
        </div>
    </nav>
    <br />
    <div class="container">
        @RenderBody()                
    </div>              
</body>
</html>